html, body, h2 {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eaeaea;
}

.title {
	color: #eaeaea;
}

.container {
	padding: 10px;
}

.header {
	background-color: #3d474e;
	color: #f3f3f3;
}

.subheader {
	background-color: #31393e;
	height: 20px;
}

#last_update {
	font-size: 14px;
	margin-bottom: 10px;
	color: #eaeaea;
}

.controls {
	margin-bottom: 5px;
	margin-top: 10px
}

.button {
	text-shadow: 1px 1px 10px #494949;
	outline: none;
	background-color: transparent;
	color: #eaeaea;
	border: 1px solid #eaeaea;
	width: 120px;
	text-transform: uppercase;
	height: 30px;
	cursor: pointer;
}

.button:hover {
	border: 0;
}

#toggle.start {
	background-color: #1db12b;
	border: 0;
}

#toggle.stop {
	background-color: #d02828;
	border: 0;
}

#clear:hover {
	background-color: #288fd0;
}

.log_table {
	margin-top: 10px;
	width: 100%;
	border-spacing: 0;
}

.log_table th {
	text-align: left;
}

.log_table td {
	padding-bottom: 10px;
	padding-top: 10px;
}

.log_table tbody tr:nth-child(even) {
	background-color: #dfdfdf;
}

.log_col_left_pad {
	padding-left: 10px;
}

.log_col_nowrap {
	white-space: nowrap;
}

.log_col_pad {
	padding-right: 15px;
}
